.scroll-stack-scroller {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.scroll-stack-inner {
  padding: 10vh 2rem 20rem;
  min-height: 100vh;
}

.scroll-stack-card-wrapper {
  position: relative;
}

.scroll-stack-card {
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  height: auto;
  min-height: 15rem;
  width: 100%;
  margin: 30px 0;
  padding: 3rem;
  border-radius: 1rem;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
}

.scroll-stack-end {
  width: 100%;
  height: 1px;
}
